In [8]:

print("Hola Mundo!")

Hola Mundo! 8

# Identacion

In [ ]:
variable = 5

if variable == 5:
    print("Es verdadero")
else:
    print("Es falso")

# Comentario

In [10]:
# Este es un comentario de una linea

"""
Este es un comentario
de múltiples
lineas
"""

print(2+3)

5

# Variables y tipos de datos

In [11]:
nombre = 'Juan' # variable de tipo string
edad = 30 # variable de tipo int
altura = 1.70 # variable de tipo float
es_estudiante = True # variable de tipo booleano

print(f"Su nombre es {nombre} tiene {edad} años, una altura de {altura} y es un estudiante {es_estudiante}")

Su nombre es Juan tiene 30 años, una altura de 1.7 y es un estudiante True

In [12]:
nombre = 'Juan' # variable de tipo string
edad = 30 # variable de tipo int
altura = 1.70 # variable de tipo float
es_estudiante = True # variable de tipo booleano

print(type(nombre))
print(type(edad))
print(type(altura))
print(type(es_estudiante))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Tipos de datos - Listas

In [13]:
# lista vacia
lista_1 = []

# lista enteros
lista_2 = [1,2,3,4,5,6,7]

# lista cadena
lista_3 = ['apple', 'hello', 'cualquier otra cosa']

# lista mixta
lista_4 = [2,3,'hello', 1.65]

# lista anidada
lista_5 = [1,2, ['hello', 44.4], ['k']]

print(lista_3)

['apple', 'hello', 'cualquier otra cosa']

In [15]:
# Accediendo a elementos de una lista
lista_6 = ['a', 'b', 'c', 'd', 'e', 'f']

"""
Referencia de posiciones
a -> 0
b -> 1
c -> 2
d -> 3
e -> 4
f -> 5
"""


print(lista_6[0])

a

In [17]:
# Imprimir rango de elementos en lista
lista_6[2:4]

['c', 'd']

# Tipos de datos - Tupla
### No se puede eliminar los elementos una vez definido

In [18]:
# Tupla vacia
tupla_1 = ()

# Tupla enteros
tupla_2 = (1,2,3)

# Tupla mixta
tupla_3 = (1,'Hola',3.2)

# Tupla anidada
tupla_3 = (1,['Hola'],3.2)

In [ ]:
# Formas de hacer tuplas
tupla_4 = "Hola",
tupla_5 = ("Adios",)

# Tipos de datos - Diccionario

In [19]:
# diccionario vacio
dict_1 = {}

# diccionario con claves enteras
dict_2 = {1:"walter", 2:"rivarola"}

# diccionario con claves mixtas
dict_3 = {"nombre":"walter", "apellido":"rivarola", "edad":[29,30]}

print(dict_3)

{'nombre': 'walter', 'apellido': 'rivarola', 'edad': 29}

In [22]:
# Accediendo a los valores del diccionario
print(dict_3['nombre'])

print(dict_3.get('nombre'))

walter
walter

In [23]:
# Crear clave y valor en diccionario
dict_3['direccion'] = 'km 4'

print(dict_3.get('direccion'))

km 4

# Recorrer una lista

In [26]:
for item in lista_2:
    print(item)

1
2
3
4
5
6
7

# Recorrer una tupla

In [27]:
for item in tupla_2:
    print(item)

1
2
3

# Recorrer un diccionario

In [46]:
for clave,valor in dict_2.items():
    print(dict_2[clave,valor])

KeyError: (1, 'walter')

In [43]:
for clave in dict_2.keys():
    print(dict_2[clave])

walter
rivarola